
<header>
<div class="container">
<h1>Padma Ui Library</h1>
</div>
</header>

<div class="container">
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<p>body text..</p>

<a href="#">Link</a>
<hr />
<div class="row">
<div class="col-lg-12">
<h2>Acciones Primarias</h2>
<button type="button" class="btn btn-primary">Guardar</button>
<button type="button" class="btn btn-default">Cancelar</button>

<h2>Acciones Secundarias</h2>
<button type="button" class="btn btn-sm btn-default" >Seguimiento</button>
<button type="button" class="btn btn-sm btn-default" >Enviar email <span class="glyphicon glyphicon-triangle-right"></span></button>
<button type="button" class="btn btn-sm btn-default" >Enviar email <span class="glyphicon glyphicon-triangle-down"></span></button>
<button type="button" class="btn btn-sm btn-primary" >Matricular</button>
<button type="button" class="btn btn-sm btn-success" >Matricular</button>
<button type="button" class="btn btn-sm btn-danger" >Dar de baja</button>

<h2>Acciones para tablas</h2>

<button class="btn btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Descargar para excel"><span class="glyphicon glyphicon-download-alt"></span></button>

<button type="button" class="btn btn-info" ><span class="glyphicon glyphicon-filter"></span> Filtrar</button>

<button class="btn btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Guardar esta búsqueda para acceso rápido">Guardar lista</button>

<p>Boton deshabilitado: <button type="button" class="btn btn-sm btn-default" disabled="disabled" >Fundir</button></p>

  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  
</div>
</div>

<hr />
<div class="row">
<div class="col-lg-12">
<h2>Tags</h2>
<span class="label label-default">
director<a class="glyphicon glyphicon-remove" rel="nofollow" data-method="delete" data-confirm="eliminar?" href="#"></a>
</span>

</div>
</div>

<hr />

<h2 id="tabs">Tabs</h2>
<div class="row">
<div class="col-lg-12">
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">uno uno uno</div>
    <div role="tabpanel" class="tab-pane fade" id="profile">dos dos dos</div>
    <div role="tabpanel" class="tab-pane fade" id="messages">tres tres tres</div>
    <div role="tabpanel" class="tab-pane fade" id="settings">cuatro cuatro cuatro</div>
  </div>
</div>
</div>
</div>


<hr />
<h2>Forms</h2>
<div class="row">
<div class="col-lg-12">

<div class="input-group input-group-lg">

<label class="sr-only" for="inputHelpBlock">Input with help text</label>
<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
...
<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>


</div>


<div class="row">
  <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
</div>




<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
 <div class="checkbox check-default">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="checkbox check-default">
    <div class="checkbox check-default">
      <label for="remember">Remember me</label>
      <input id="remember" type="checkbox"> 
      </div>	
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>


<textarea class="form-control" rows="3"></textarea>
 
 <hr />
<p>Select</p>
<div class="select"><select id="user_encoding" class="selectpicker show-tick" name="user[encoding]">
<option value="UTF-8">UTF-8</option>
<option value="ISO-8859-1">ISO-8859-1</option>
<option value="Windows-1251">Windows-1251</option>
</select></span>
</div>
 
 <hr />
<div class="checkbox check-default">
 <input id="checkbox1" type="checkbox" value="1">
 <label for="checkbox1"> Option one is this and that&mdash;be sure to include why it's great</label>
  </div>
<div class="checkbox check-default">
    <input id="checkbox2" type="checkbox" value="2">
     <label for="checkbox2" > Option one is this and that&mdash;be sure to include why it's great </label>
</div>
<div class="checkbox disabled">
  <input type="checkbox" value="" disabled>
   <label>Option three is disabled</label>
</div>

    
 <hr />    
<div class="radio">
    <input type="radio" name="optionsRadios" id="radio1" value="option1" checked>
   
   <label for="radio1" > Option one is this and that&mdash;be sure to include why it's great</label>
</div>
<div class="radio">
  
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    
  <label for="optionsRadios2" >Option two can be something else and selecting it will deselect option one</label>
</div>
<div class="radio disabled">
 <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
   <label for="optionsRadios3">Option three is disabled</label>
</div>
 

 
 <hr />
 
<p>DISABLED INPUT</p>
<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>

 
 <hr />
<p>VALIDATION</p>

<div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2">Input with success</label>
  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>
<div class="form-group has-warning has-feedback">
  <label class="control-label" for="inputWarning2">Input with warning</label>
  <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span id="inputWarning2Status" class="sr-only">(warning)</span>
</div>
<div class="form-group has-error has-feedback">
  <label class="control-label" for="inputError2">Input with error</label>
  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="inputError2Status" class="sr-only">(error)</span>
</div>


</div></div>

<div class="row">
<div class="col-lg-12">

<h2>Tooltips</h2>
<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

<!-- HTML to write -->
<a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>

<!-- Generated markup by the plugin -->
<div class="tooltip top" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>


<div class="bs-example tooltip-demo">
<p>Tight pants next level keffiyeh
<a title="" data-toggle="tooltip" href="#" data-original-title="Default tooltip">you probably</a>
haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
<a title="Another tooltip" data-toggle="tooltip" href="#">have a</a>
terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan
<a title="Another one here too" data-toggle="tooltip" href="#">whatever keytar</a>
, scenester farm-to-table banksy Austin
<a title="The last tip!" data-toggle="tooltip" href="#">twitter handle</a>
freegan cred raw denim single-origin coffee viral.</p>
</div>
</div></div>
  
 <hr />
  <h2>IMAGE</h2>
  <img src="..." alt="..." class="img-thumbnail">
  
  <h2 id="alerts">Alerts</h2>
  <div class="row">
  <div class="col-lg-12">
<p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-success">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-info">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-warning">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-danger">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

<p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="bg-success">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="bg-info">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="bg-warning">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="bg-danger">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </div>
  
  
  <div class="row">
 <div class="col-lg-12">
 <div class="alert alert-success" role="alert">Well done! You successfully read this important alert message. <a href="#" class="alert-link">click here</a></div>
<div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but it's not super important. <a href="#" class="alert-link">click here</a></div>
<div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not looking too good. <a href="#" class="alert-link">click here</a></div>
<div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try submitting again. <a href="#" class="alert-link">click here</a> </div>
</div>
</div><!-- /.row -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<hr/>

<h2 id="tablas" >Tablas</h2>  


<div class="table-responsive">
 <div class="sticky-wrap">
    <table id="contacts-table" border="0" cellspacing="0" class="padma-table table table-bordered table-striped table-hover withchk table-responsive">
    	<thead>
    		<tr>
    			<th class="withchk"><input id="select_all" type="checkbox" value="#"></th>
				<th><a class="current desc">Nombre Completo</a></th>
	    		<th><a href="#" data-toggle="tooltip" data-placement="bottom"  data-original-title="Item muy muuuuuuuuy largo largo largo">Item muy muuuuuuuuy largo largo largo2</a></th>
				<th>Instructor </th>
				<th><span original-title="mostrando solo el primario">Telefono principal</span></th>
				<th><span original-title="mostrando solo el primario">Email principal</span></th>
				<th style="width: 161px;"><span  original-title="mostrando solo el primario">Email secundario</span></th>
</tr></thead>

<tbody>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right Tooltip on right Tooltip on right Tooltip on right">Tooltip on right</button></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
<tr>
<td><p>test</p></td>
<td><p>test</p></td>
<td><p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td>  <p>test</p></td>
<td><p>test</p></td>
</tr>
      </tbody>
    </table>
      </div>
      </div>
      
      <script>
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});

</script>
