<header>
<h1>Padma Ui Library</h1>
</header>

<h1>Titulo Numero 1</h1>
<h2>Titulo Numero 2</h2>
<h3>Titulo Numero 3</h3>
<p>body text..</p>

<a href="#">Link</a>

<div class="row">
<div class="col-lg-6">
<button type="button" class="btn btn-primary">Guardar</button>
<button type="button" class="btn btn-default">Cancelar</button>
</div>
<div class="col-lg-6">
<button type="button" class="btn btn-sm btn-default" >Seguimiento</button>
<button type="button" class="btn btn-sm btn-default" >Enviar email <span class="glyphicon glyphicon-triangle-right"></span></button>
<button type="button" class="btn btn-sm btn-default" >Enviar email <span class="glyphicon glyphicon-triangle-down"></span></button>
<button type="button" class="btn btn-sm btn-primary" >Matricular</button>
<button type="button" class="btn btn-sm btn-danger" >Dar de baja</button>
</div>
</div>

<div class="row">
<div class="col-lg-12">
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active" id="home">uno uno uno</div>
    <div role="tabpanel" class="tab-pane fade" id="profile">dos dos dos</div>
    <div role="tabpanel" class="tab-pane fade" id="messages">tres tres tres</div>
    <div role="tabpanel" class="tab-pane fade" id="settings">cuatro cuatro cuatro</div>
  </div>
</div>
</div>
</div>

<div class="bs-example tooltip-demo">
<h3>Tooltips</h3>
<p>Tight pants next level keffiyeh
<a title="" data-toggle="tooltip" href="#" data-original-title="Default tooltip">you probably</a>
haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
<a title="Another tooltip" data-toggle="tooltip" href="#">have a</a>
terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan
<a title="Another one here too" data-toggle="tooltip" href="#">whatever keytar</a>
, scenester farm-to-table banksy Austin
<a title="The last tip!" data-toggle="tooltip" href="#">twitter handle</a>
freegan cred raw denim single-origin coffee viral.</p>
</div>


<div class="row">
  <div class="col-lg-6">
  <input id="option" type="checkbox" name="field" value="option">
  <label for="option">Value</label>
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
  <input id="option2" type="radio" aria-label="...">
<label for="option2">Value</label>
    
  </div><!-- /.col-lg-6 -->
  
  <div class="col-lg-12">
  
  <div class="bs-example bs-example-standalone" data-example-id="dismissible-alert-js">
<div class="alert alert-warning alert-dismissible fade in" role="alert">
<button class="close" aria-label="Close" data-dismiss="alert" type="button">
<strong>Holy guacamole!</strong>
Best check yo self, you're not looking too good.
</div>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<button class="close" aria-label="Close" data-dismiss="alert" type="button">
<h4 id="oh-snap!-you-got-an-error!">
<p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p>


<div class="panel panel-default">
<div class="panel-heading">Panel heading</div>
<table class="table">
<thead>
<tr>
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Username</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">1</th>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
<tr>
<th scope="row">2</th>
<td>Jacob</td>
<td>Thornton</td>
<td>@fat</td>
</tr>
<tr>
<th scope="row">3</th>
<td>Larry</td>
<td>the Bird</td>
<td>@twitter</td>
</tr>
</tbody>
</table>
</div>
</div>

</div>

</div><!-- /.row -->
