<!DOCTYPE html>
<html>
<head>
  <title>PadmaUiGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- fin de contenido del archivo en app/views/layouts/application.html.erb -->
<!-- inicio de contenido del archivo en app/views/pages/ -->
<%= yield %>
<!-- fin de contenido del archivo en app/views/pages/ -->
<!-- continua contenido del archivo en app/views/layouts/application.html.erb -->

</body>
</html>
